
*.zip
/crs2-sara-export/main/data/payloads
/crs2-sara-export/main/data/out
/crs2-sara-export/main/data/out
/crs2-sara-export/main/db
*.cmd
*.csv
*.db
crs2-sara-export/mvnw
cts-data-xml/mvnw
crs2-sara-export/.mvn/wrapper/maven-wrapper.properties
*.xml
